input::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: 10pt;
    color: #555555;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
}

h2 {
    font-family: 'Jura', sans-serif;
    padding-bottom: 20px;
}

#hole-section em {
    display: inline-block;
    background-color: rgba(117, 79, 36, 0.65);
    color: #ffffff;
    padding: 2px;
}


#product-tab {
    float: left;
}

#people-tab {
    float: left;
}

.tabs {
    float: left;
}

.tab {
    text-align: center;
    font-size: 12pt;
    padding-top: 21px;
    background-color: #754f24;
    color: #ffffff;
}

.select {
    border-bottom: 2px solid #000000;
}

.selectTab {
    color: #ffffff;
    background-color: #000000;
}

nav a {
    display: block;
    width: 59px;
    border-bottom: 2px solid #754f24;
    padding-bottom: 10px;
}

header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #D5D5D5;
    height: 105px;
    padding-top: 5px;
}

#headerContainer {
    height: 52px;
    background-color: rgba(255, 255, 255, 1);
}

.suede-top {
    border-left: 5px solid #000000;
    border-bottom: 2px solid #000000;
    height: 50px;
}

#rightHeader {
    float: right;
}

#nav {
    float: right;
}

#titleBar {
    background: url("/assets/images/logo3.png") no-repeat scroll center;
    background-size: cover;
    float: left;
    z-index: -3;

    height: 50px;
    width: 196px;
    -webkit-transition: height 2000ms ease, width 2000ms ease;
    -moz-transition: height 2000ms ease, width 2000ms ease;
    -o-transition: height 2000ms ease, width 2000ms ease;
    transition: height 2000ms ease, width 2000ms ease;
}

#titleBar a {
    display: block;
    font-size: 9pt;
    font-style: italic;
    padding-left: 25px;
    text-align: right;
    height: 100%;
    width: 100%;
}

.signUpTopBar {
    display: none;
    float: right;
    padding-top: 13px;
    padding-left: 5px;
}

.signUpUnderBar {
    width: 100%;
    text-align: center;
    background-color: rgba(117, 79, 36, 0.10);
    padding-top: 20px;
    padding-bottom: 20px;
}

.signUp {
    font-size: 10pt;
}

input {
    border-radius: 1px;
    padding: 2px 4px;
    text-align: center;
}

#submit {
    background-color: #ffffff;
    border: 0;
}

#unsubscribe #submit {
    background-color: #f5f5f5;
}

#submit:hover {
    cursor: pointer;
    background-color: #eeeeee !important;
}

#submit:active {
    background-color: #dddddd !important;
}

#emailField {
    width: 125px;
    border: 1px solid #b5b5b5;
}

#emailField::-webkit-input-placeholder {
    color: #aaaaaa;
}

#emailField :-moz-placeholder {
    /* Firefox 18- */
    color: #aaaaaa;
}

#emailField ::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaaaaa;
}

#emailField:-ms-input-placeholder {
    color: #aaaaaa;
}

#hiddenBackground {
    background: url("/assets/images/hole_bottom.jpg") no-repeat scroll;
    background-size: cover;
    background-position: top;
}

#background {
    background: url("/assets/images/hole_bottom.jpg") no-repeat scroll;
    background-size: cover;
    background-position: top;
}

.backgroundShade {
    background-color: rgba(255, 255, 255, 0.55);
    width: 100%;
}

#suede-body-content {
    border-left: 5px solid #754f24;
}

.body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5px;
}

.body2 {
    max-width: 1200px;
}

#hole-section {
    text-align: center;
    padding-bottom: 80px;
}

#hole-section > h1 {
    color: #222222;
    height: 50px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    padding-top: 10px;
}

#hole-section p {
    color: #222222;
    font-size: 1.5em;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    height: 3em;
    margin-top: 40px;
}

#hole-section > div {
    margin-right: 1%;
    margin-left: 1%;
}

#top {
    text-align: left;
    border-left: 2px solid #000000;
}

#bottom {
    text-align: right;
    border-right: 2px solid #000000;

}

#productBody {
    padding-top: 20px;
}

h1, h2 {
    font-size: 2.5em;
    font-weight: 300;
    color: #333333;
}

p, ol {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
}

p {
    margin-top: 15px;
    padding: 0 3px;
}

ol {
    list-style: lower-alpha;
    padding: 10px;
}

p a {
    text-decoration: underline;
}

.p-title {
    font-style: italic;
    color: #FFd050;
    border-bottom: 2px solid #FFd050;
    width: 200px;
    display: block;
    margin-right: 10px;
    height: 16px;
}

#productBody p {
    padding-left: 10px;
}

hr {
    margin: 30px;
    border: none;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 190px;
}

section {
    padding: 20px 20px 50px 20px;
    border-top: 1px solid #d5d5d5;
}

#bottleneck-section h2 {
    text-align: right;
}

#bottleneck-section p {
    line-height: 1.7;
    word-spacing: 2px;
    margin-top: 30px;
}

section em {
    font-weight: bold;
    color: #000000;
}

#bottle {
    background: url("/assets/images/bottleneck_black.png") no-repeat scroll;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100px;
}

#genie-section h2 {
    text-align: left;
}

footer {
    padding: 5px;
    border-top: 1px solid #D5D5D5;
    font-size: 8pt;
    height: 15px;
    background-color: #ffffff;
}

#copyright {
    float: left;
}

#socialLink {
    float: right;
}

#socialLink a {
    background: url("/assets/images/facebook.png") no-repeat scroll;
    padding-left: 20px;
    padding-top: 2px;
    height: 16px;
    display: block;
}

@media screen and (min-width: 500px) {

    nav a {
        padding-left: 10px;
        padding-right: 10px;
    }

    #people-tab {
        margin-left: 40px;
    }

    #hole-section > div {
        margin-right: 5%;
        margin-left: 5%;
    }

    #bottle {
        height: 275px;
        width: 45%;
        float: left;
    }

    #bottleneck-section div.text {
        float: right;
        display: block;
        width: 50%;
        margin: 0;
    }
}

@media screen and (min-width: 670px) {

    html {
        font-size: 12pt;
    }

    .p-title {
        height: 23px;
        display: inline-block;
    }

    .signUpTopBar {
        display: block;
    }

    .signUpUnderBar {
        display: none;
    }

    .suede-top {
        border-left: 50px solid #000000;
    }

    #suede-body-content {
        border-left: 50px solid #754f24;
    }

    section {
        padding: 20px 50px 50px 70px;
    }

}

@media screen and (min-width: 750px) {

    .signUpTopBar {
        padding-right: 30px;
        padding-left: 20px;
}

    #hole-section p {
        display: block;
        width: 45%;
        height: 5em;
    }

    #top {
        float: left;
    }

    #bottom {
        float: right;
    }
}

@media screen and (min-width: 900px) {

    h1, h2 {
        font-size: 4.0em;
    }

    .signUpTopBar {
        padding-right: 30px;
        padding-left: 20px;
    }

    #hole-section > div {
        margin-top: 40px;
        margin-left: 2%;
        margin-right: 2%;
    }

}

@media screen and (min-width: 1024px) {

    html {
        font-size: 14pt;
    }

    #background {
        background: url("/assets/images/hole.jpg") no-repeat scroll;
        background-size: cover;
        background-position: top;
    }

    .suede-top {
        height: 175px;

        -webkit-transition: height 2000ms ease;
        -moz-transition: height 2000ms ease;
        -o-transition: height 2000ms ease;
        transition: height 2000ms ease;
    }

    #headerContainer {
        height: 177px;
        /*background-color: rgba(117, 79, 36, 0.10);*/
        background-color: rgba(115, 90, 40, 0.20);

        -webkit-transition: height 2000ms ease, background-color 2000ms ease;
        -moz-transition: height 2000ms ease, background-color 2000ms ease;
        -o-transition: height 2000ms ease, background-color 2000ms ease;
        transition: height 2000ms ease, background-color 2000ms ease;
    }

    #nav {
        float: none;
        margin-right: 50px;
        padding-top: 19px;
        padding-left: 20px;

        -webkit-transition: padding-top 2000ms ease, margin-right 2000ms ease, padding-left 2000ms ease;
        -moz-transition: padding-top 2000ms ease, margin-right 2000ms ease, padding-left 2000ms ease;
        -o-transition: padding-top 2000ms ease, margin-right 2000ms ease, padding-left 2000ms ease;
        transition: padding-top 2000ms ease, margin-right 2000ms ease, padding-left 2000ms ease;
    }

    .signUpTopBar {
        float: none;
        margin-bottom: 55px;
        margin-right: 25px;
        margin-top: 16px;

        -webkit-transition: margin-top 2000ms ease, margin-right 2000ms ease, margin-bottom 2000ms ease;
        -moz-transition: margin-top 2000ms ease, margin-right 2000ms ease, margin-bottom 2000ms ease;
        -o-transition: margin-top 2000ms ease, margin-right 2000ms ease, margin-bottom 2000ms ease;
        transition: margin-top 2000ms ease, margin-right 2000ms ease, margin-bottom 2000ms ease;
    }

    #titleBar {
        height: 175px;
        width: 685px;

        -webkit-transition: height 2000ms ease, width 2000ms ease;
        -moz-transition: height 2000ms ease, width 2000ms ease;
        -o-transition: height 2000ms ease, width 2000ms ease;
        transition: height 2000ms ease, width 2000ms ease;
    }

    #suede-body-content {

        -webkit-transition: padding-top 2000ms ease;
        -moz-transition: padding-top 2000ms ease;
        -o-transition: padding-top 2000ms ease;
        transition: padding-top 2000ms ease;
    }

    #hole-section > div {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 1315px) {

    #hole-section p {
        width: 28%;
        font-weight: 600;
    }

    #hole-section > div {
        margin-top: 160px;
    }

    #hole-section {
        padding-bottom: 270px;
    }

    .suede-top {
        height: 250px;
    }

    #headerContainer {
        height: 252px;
        /*background-color: rgba(117, 79, 36, 0.10);*/
        background-color: rgba(115, 90, 40, 0.20);
    }

    #nav {
        float: none;
        margin-right: 50px;
        padding-top: 70px;
        padding-left: 20px;
    }

    .signUpTopBar {
        float: none;
        margin-bottom: 75px;
        margin-right: 25px;
        margin-top: 20px;
    }

    #titleBar {
        height: 250px;
        width: 979px;
    }
}
