a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
}

nav {
    margin-left: 290px;
}

.tab {
    float: left;
    text-align: center;
    margin-left: 50px;
    font-size: 12pt;
    border-bottom: 4px solid #999999;
}

.select {
    color: #000000;
    border-bottom: 4px solid #d5d5d5;
}

header a {
    display: block;
    width: 55px;
}

html {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: 12pt;
    color: #999999;

    overflow-y: scroll;
}

header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #D5D5D5;
    height: 65px;
    margin-bottom: 30px;
}

.titleBar {
    clear: both;
    background: url("/assets/images/just_icon.png") no-repeat scroll;
    background-size: 40px;
    height: 50px;
    padding-left: 45px;
    font-size: 26px;
    color: #999999;
    padding-top: 1px;
}

.body {
    width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 5.4em;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 30px;
    color: #333333;
}

p {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 30px;
}

p a {
    text-decoration: underline;
}

.p-title-1 {
    color: #1c22e6;
}

.p-title-2 {
    color: #e6625e;
}

.p-title-3 {
    color: #2cbc4c;
}

img {
    margin: 5px 10px 0 0;
    float: left;
    max-height: 190px;
}

footer {
    margin: 30px 0 30px 0;
    padding: 5px;
    border-top: 1px solid #D5D5D5;
    font-size: 8pt;
}

#copyright {
    float: left;
    width: 100px;
}

#socialLink {
    float: right;
    width: 100px;
}

#socialLink a {
    display: block;
    background: url("/assets/images/facebook.png") no-repeat scroll;
    padding-left: 20px;
    padding-top: 1px;
    height: 20px;
}