input::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: 10pt;
    color: #555555;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
}

h2 {
    font-family: 'Jura', sans-serif;
    padding-bottom: 20px;
}

#hole-section em {
    display: inline-block;
    background-color: rgba(117, 79, 36, 0.65);
    color: #ffffff;
    padding: 2px;
}

#product-tab {
    float: left;
}

#people-tab {
    float: left;
}

.tabs {
    float: left;
}

.tab {
    text-align: center;
    font-size: 12pt;
    padding-top: 22px;
    background-color: #754f24;
    color: #ffffff;
}

.select {
    /*border-bottom: 2px solid #000000;*/
}

.selectTab {
    color: #ffffff;
    background-color: #000000;
}

nav a {
    display: block;
    width: 59px;
    /*border-bottom: 2px solid #754f24;*/
    padding-bottom: 10px;

    line-height: 1.2em; /*without this height varies between firefox and chrome*/
}

#headerContainer {
    height: 51px;
    background-color: rgba(255, 255, 255, 1);
}

.suede-top {
    /*border-left: 5px solid #000000;*/
    /*border-bottom: 1px solid #754f24;*/

    border-bottom: 1px solid rgba(117, 79, 36, 0.8);
    height: 50px;
}

#rightHeader {
    float: right;
}

#nav {
    float: right;
}

#titleBar {
    background: url("/assets/images/logo3.png") no-repeat scroll center;
    background-size: cover;
    float: left;
    z-index: -3;

    height: 50px;
    width: 196px;
    -webkit-transition: height 1000ms ease, width 1000ms ease;
    -moz-transition: height 1000ms ease, width 1000ms ease;
    -o-transition: height 1000ms ease, width 1000ms ease;
    transition: height 1000ms ease, width 1000ms ease;
}

#titleBar a {
    display: block;
    font-size: 9pt;
    font-style: italic;
    padding-left: 25px;
    text-align: right;
    height: 100%;
    width: 100%;
}

.signUpTopBar {
    display: none;
    float: right;
    padding-top: 13px;
    /*padding-left: 5px;*/
}

#signUpUnderBar > div {
    margin: 0 auto;

    text-align: center;
    width: 300px;
}

#signUpUnderBar {
    width: 100%;
    background-color: rgba(115, 90, 40, 0.20);
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(115, 90, 40, 0.40);
    font-size: 11pt;
    opacity: 0.85;

    top: 0;

    -webkit-transition: top 1000ms ease;
    -moz-transition: top 1000ms ease;
    -o-transition: top 1000ms ease;
    transition: top 1000ms ease;
}

.signUp p {
    padding-bottom: 6px;
}
.signUp {
    font-size: 10pt;
}

input, button {
    border-radius: 1px;
    padding: 2px 4px;
    text-align: center;

    line-height: 1.2em; /*without this height varies between firefox and chrome*/
}

textarea:focus {
    display: block;
    outline: 0;
}

textarea {
    box-sizing: border-box;
}

.submit {
    background-color: #ffffff;
    border: 0;
}

#unsubscribe .submit {
    background-color: #f5f5f5;
}

.submit:hover {
    cursor: pointer;
    background-color: #eeeeee !important;
}

.submit:active {
    background-color: #dddddd !important;
}

.emailField {
    width: 125px;
    border: 1px solid #b5b5b5;
}

.messageField:-ms-input-placeholder, #emailField::-webkit-input-placeholder {
    color: #aaaaaa;
}

.messageField:-ms-input-placeholder, #emailField :-moz-placeholder {
    /* Firefox 18- */
    color: #aaaaaa;
}

.messageField:-ms-input-placeholder, #emailField ::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaaaaa;
}

.messageField:-ms-input-placeholder, #emailField:-ms-input-placeholder {
    color: #aaaaaa;
}

.messageField {
    line-height: 1.2em; /*without this height varies between firefox and chrome*/
    border: none;
    width: 211px;
    margin: 5px 0 6px 0;
    display: none;
    font-size: 8pt;
    padding: 2px;
    height: 66px;
}

.signUpTopBar.showMessage .messageField {
    display: block;
}

#signUpUnderBar.showMessage .messageField {
    display: inline;
}

#signUpUnderBar .messageField {
    width: 217px;
}

#hiddenBackground {
    background: url("/assets/images/hole_bottom.jpg") no-repeat scroll;
    background-size: cover;
    background-position: top;
}

#background {
    background: url("/assets/images/hole_bottom.jpg") no-repeat scroll;
    background-size: cover;
    background-position: top;
}

.backgroundShade {
    background-color: rgba(255, 255, 255, 0.55);
    width: 100%;
}

.suede-body-content {
    /*border-left: 5px solid #754f24;*/
}

.body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5px;
}

.body2 {
    max-width: 1200px;
}

#unsubscribe {
    height: 100%;
}

/*
#people .text-right {
    width: 83%;
}*/

#people .text {
    width: 200px;
    height: 150px;
    border: 1px solid #333333;
    background-color: #f5f5f5;
    padding-top: 85px;
    margin-right: 10px;
}

#hole-section {
    text-align: center;
    padding: 0;
}

#hole-section h1 {
    color: #444444;
    font-weight: 400;
    font-family: 'Play', sans-serif;
}

#hole-section .title {
    padding-top: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 40px;
}

#hole-section p {
    color: #222222;
    font-size: 1.5em;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    height: 3em;
    margin-top: 40px;
}

#hole-section > div.content {
    margin-right: 1%;
    margin-left: 1%;
}

#top {
    text-align: left;
}

#bottom {
    text-align: right;
}

#productBody {
    padding-top: 20px;
}

h1, h2 {
    font-size: 2.5em;
    font-weight: 300;
    color: #333333;
}

section p, ol, section ul {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
}

section p {
    padding: 15px 3px 0;
}

ol {
    /*do not optimize, fails in chrome*/
    list-style-type: lower-alpha;
    list-style-position: inside;
    list-style-image: none;
    padding: 10px;
}

section ul {
    list-style: inside disc;
    padding: 10px;
}

p a {
    text-decoration: underline;
}

.p-title {
    font-style: italic;
    color: #FFd050;
    border-bottom: 2px solid #FFd050;
    width: 200px;
    display: block;
    margin-right: 10px;
    height: 16px;
}

#productBody p {
    padding-left: 10px;
}

hr {
    margin: 30px;
    border: none;
}

img {
    float: left;
    display: block;
    margin: 0 auto;
    max-height: 190px;
}

section, footer {
    padding: 20px 20px 30px 20px;
    border-top: 1px solid #d5d5d5;
}

section .text {
    line-height: 1.7;
    word-spacing: 2px;
    display: table;
    width: 100%;
}

#bottleneck-section {
    background-color: #efefef;
}

#bottleneck-section h2 {
    text-align: right;
}

#bottleneck-section p {
    margin-top: 30px;
}

section em {
    font-weight: bold;
    color: #000000;
}

#bottle {
    background: url("/assets/images/bottle_you2.png") no-repeat scroll;
    background-size: contain;
    background-position: center;
    height: 100px;
}

#oneplace-section h2 {
    text-align: left;
}

#tree {
    background: url("/assets/images/tree2.png") no-repeat scroll;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-top: 20px;
}

#free-yourself .text {
    line-height: 200%;
}

#brain1 {
    background: url("/assets/images/brain1.png") no-repeat scroll;
    background-size: contain;
    background-position: top;
    height: 150px;
}

#brain2 {
    background: url("/assets/images/brain2.png") no-repeat scroll;
    background-size: contain;
    background-position: top;
    height: 250px;
}

#brain3 {
    background: url("/assets/images/brain3.png") no-repeat scroll;
    background-size: contain;
    background-position: top;
    height: 150px;
}

.caption {
    font-size: 8pt;
    text-align: center;
    vertical-align: bottom;
    display: table-cell;
}

#free-yourself .text {
    margin-top: 10px;
}

#addendum, footer {
    background-color: #222222;
    color: #FFFFFF;
}

#addendum p {
    padding-top: 30px;
}

#addendum .text {
    line-height: 1.5;
    word-spacing: normal;
    font-size: 1em;
}

#addendum em {
    color: #999900;
}

#addendum h2 {
    text-align: center;
    color: #e4e4e4;
}

#people h2 {
    margin-top: 30px;
}

#people img {
    padding: 10px;
}

section {
    text-align: center;
}

section p, section h2, ul, ol {
    text-align: left;
}

section button {
    border: 3px solid #333333;
    border-radius: 3px;
    color: #333333;
    margin: 20px 10px 0;
    padding: 5px;
    font-family: 'Play', sans-serif;

    background-color: rgba(0, 0, 0, 0);
    /*
        background: -webkit-linear-gradient(#999999,#666666,#666666); *//* For Safari 5.1 to 6.0 *//*
        background: -o-linear-gradient(#999999,#666666,#666666); *//* For Opera 11.1 to 12.0 *//*
        background: -moz-linear-gradient(#999999,#666666,#666666); *//* For Firefox 3.6 to 15 *//*
        background: linear-gradient(#999999,#666666,#666666 ); *//* Standard syntax */
}

#hole-section button {
    margin-bottom: 10px;
}

section button:hover {
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.1);
    /*
    background: -webkit-linear-gradient(#999999,#333333,#333333); *//* For Safari 5.1 to 6.0 *//*
    background: -o-linear-gradient(#999999,#333333,#333333); *//* For Opera 11.1 to 12.0 *//*
    background: -moz-linear-gradient(#999999,#333333,#333333); *//* For Firefox 3.6 to 15 *//*
    background: linear-gradient(#999999,#333333,#333333 ); *//* Standard syntax */
}

#addendum button {
    color: #cccccc;
    border: 2px solid #ffffff;

    /*background-color: rgba(0,0,0,0);*/
    /*
        background: -webkit-linear-gradient(#cccccc,#cccccc,#999999); *//* For Safari 5.1 to 6.0 *//*
        background: -o-linear-gradient(#cccccc,#cccccc,#999999); *//* For Opera 11.1 to 12.0 *//*
        background: -moz-linear-gradient(#cccccc,#cccccc,#999999); *//* For Firefox 3.6 to 15 *//*
        background: linear-gradient(#cccccc,#cccccc,#999999 ); *//* Standard syntax */
}

#addendum button:hover {

    background-color: rgba(255, 255, 255, 0.1);
    /*
    background: -webkit-linear-gradient(#ffffff,#ffffff,#999999); *//* For Safari 5.1 to 6.0 *//*
    background: -o-linear-gradient(#ffffff,#ffffff,#999999); *//* For Opera 11.1 to 12.0 *//*
    background: -moz-linear-gradient(#ffffff,#ffffff,#999999); *//* For Firefox 3.6 to 15 *//*
    background: linear-gradient(#ffffff,#ffffff,#999999 ); *//* Standard syntax *//*
*/
}

footer {
    padding: 10px;
    border-top: 1px solid #000;
    font-size: 8pt;
    height: 15px;
}

#copyright {
    float: left;
}

#socialLink {
    float: right;
}

#socialLink a {
    background: url("/assets/images/facebook.png") no-repeat scroll;
    padding-left: 20px;
    padding-top: 2px;
    height: 16px;
    display: block;
}

@media screen and (min-width: 500px) {

    nav a {
        padding-left: 10px;
        padding-right: 10px;
    }

    #people-tab {
        margin-left: 40px;
    }

    #hole-section > div.content {
        margin-right: 5%;
        margin-left: 5%;
    }

    #bottle {
        height: 275px;
    }

    section .text {
        float: left;
        width: 47%;
    }

    section .right {
        float: right;
    }

    section .nofloat {
        float: none;
    }

    #tree {
        height: 350px;
    }

    .brain1 {
        padding-top: 30px;
    }

    .brain2 {
        padding-top: 90px;
    }

    .brain3 {
        padding-top: 60px;
    }
}

@media screen and (min-width: 690px) {

    html {
        font-size: 12pt;
    }

    .p-title {
        height: 23px;
        display: inline-block;
    }

    .signUpTopBar {
        display: block;
    }

    #signUpUnderBar {
        visibility: hidden;
        position: fixed;
        /*padding-right: 50px;*/
    }

    .suede-top {
        /*border-left: 50px solid #000000;*/
    }

    .suede-body-content {
        /*border-left: 50px solid #754f24;*/
    }

    .scroll #titleBar {
        height: 50px;
        width: 196px;
    }

    .scroll .suede-top {
        height: 50px;
    }

    .scroll #headerContainer {
        position: fixed;
        width: 100%;
        height: 51px;
        background-color: rgba(255, 255, 255, 1);
    }

    .scroll #nav {
        padding-right: 0;
        padding-top: 0;
        padding-left: 0;
        float: right;
    }

    .scroll .signUpTopBar {
        display: none;
    }

    .scroll #first-body-content {
        padding-top: 50px;
    }

    .scroll #background {
        background-image: none;
    }

    .scroll #signUpUnderBar {
        visibility: visible;
    }

    .scroll #signUpUnderBar {
        top: 52px;
    }

    section, footer {
        padding: 30px 50px 30px 50px;
    }

    #hole-section {
        padding-top: 40px;
    }

    #top {
        border-left: 2px solid #000000;
    }

    #bottom {
        border-right: 2px solid #000000;
    }

    #tree {
        height: 500px;
    }

}

@media screen and (min-width: 750px) {

    #hole-section p {
        display: block;
        width: 45%;
        height: 5em;
    }

    #top {
        float: left;
    }

    #bottom {
        float: right;
    }
}

@media screen and (min-width: 900px) {

    h1, h2 {
        font-size: 4.0em;
    }

    #hole-section > div.content {
        margin-left: 2%;
        margin-right: 2%;
    }

}

@media screen and (min-width: 1024px) {

    html {
        font-size: 14pt;
    }

    #background {
        background: url("/assets/images/hole2.jpg") no-repeat scroll;
        background-size: cover;
        background-position: top;
    }

    .suede-top {
        height: 175px;

        -webkit-transition: height 1000ms ease;
        -moz-transition: height 1000ms ease;
        -o-transition: height 1000ms ease;
        transition: height 1000ms ease;
    }

    #headerContainer {
        height: 176px;
        background-color: rgba(115, 90, 40, 0.20);

        -webkit-transition: height 1000ms ease, background-color 1000ms ease;
        -moz-transition: height 1000ms ease, background-color 1000ms ease;
        -o-transition: height 1000ms ease, background-color 1000ms ease;
        transition: height 1000ms ease, background-color 1000ms ease;
    }

    .showMessage.signUpTopBar .messageField {
        position: absolute;
    }

    #nav {
        float: none;
        margin-right: 50px;
        padding-top: 19px;
        padding-left: 20px;

        -webkit-transition: padding-top 1000ms ease, margin-right 1000ms ease, padding-left 1000ms ease;
        -moz-transition: padding-top 1000ms ease, margin-right 1000ms ease, padding-left 1000ms ease;
        -o-transition: padding-top 1000ms ease, margin-right 1000ms ease, padding-left 1000ms ease;
        transition: padding-top 1000ms ease, margin-right 1000ms ease, padding-left 1000ms ease;
    }

    .signUpTopBar {
        float: none;
        margin-bottom: 55px;
        margin-right: 25px;
        margin-top: 16px;
    }

    #titleBar {
        height: 175px;
        width: 685px;

        -webkit-transition: height 1000ms ease, width 1000ms ease;
        -moz-transition: height 1000ms ease, width 1000ms ease;
        -o-transition: height 1000ms ease, width 1000ms ease;
        transition: height 1000ms ease, width 1000ms ease;
    }

    .suede-body-content {

        -webkit-transition: padding-top 1000ms ease;
        -moz-transition: padding-top 1000ms ease;
        -o-transition: padding-top 1000ms ease;
        transition: padding-top 1000ms ease;
    }

    #hole-section {
        padding-top: 85px;
    }

    .scroll #hole-section {
        padding-top: 130px;
    }

    #hole-section > div.content {
        margin-left: 10%;
        margin-right: 10%;
    }

    #brain1 {
        height: 200px;
    }

    #brain2 {
        height: 400px;
    }

    #brain3 {
        height: 200px;
    }

    #rightHeader {
        visibility: hidden;
    }

    .scroll #rightHeader {
        visibility: visible;
    }
}

@media screen and (min-width: 1315px) {

    #hole-section p {
        width: 28%;
        font-weight: 600;
    }

    #hole-section div.title {
        margin-top: 110px;
    }

    .suede-top {
        height: 320px;
    }

    #headerContainer {
        height: 321px;
        background-color: rgba(115, 90, 40, 0.20);
    }

    #nav {
        float: none;
        margin-right: 50px;
        padding-top: 138px;
        padding-left: 20px;
    }

    .signUpTopBar {
        float: none;
        margin-bottom: 77px;
        margin-right: 25px;
        margin-top: 20px;
    }

    .showMessage.signUpTopBar {
        margin-bottom: 0;
    }

    .showMessage.signUpTopBar .messageField {
        position: static;
    }

    #titleBar {
        height: 320px;
        width: 1253px;
    }
}
