<h1>People</h1>

<p>
    <img src="@routes.Assets.at("images/jamesb.jpg")"> I am
    <a target="_blank" href="http://uk.linkedin.com/pub/james-bromley/9/736/361/">James Bromley</a>, the founder and currently the
    only person working full time on ergle.com. Take a look at my <a target="_blank" href="http://jamesabromley.wordpress.com">blog</a>
    to see how I got here. In short, I used to work for other people, now I've decided to work for myself, with a
    strong desire to help others work as fulfillingly as possible. Ergle is both a product that makes communicating
    about work easier and a (proto-) company that will embody the principle of profitable fulfilling work.
    My background is technical, my last job being a software architect for Thomson Reuters. I have a BSc in Psychology
    and an MSc in Computer Science.
</p>
<p>
    I've always been frustrated that companies don't use the best knowledge available to manage people and make decisions.
    It seems that business is somehow still stuck in a dark age of alchemists, visionaries and charlatans. On the other
    hand there is a burgeoning body of literature and research on how to get great results without relying on hunches
    and management "styles", but <i>evidence</i> and <i>reason</i>.
</p>
