<div class="body">

    <h1>People</h1>
    <div id="people">

        <img src="@routes.Assets.at("images/jamesb.jpg")">
        <p>I am
            <a target="_blank" href="http://uk.linkedin.com/pub/james-bromley/9/736/361/">James Bromley</a>, the founder of and currently the
            only person working full time on ergle.com. Take a look at my <a target="_blank" href="http://jamesabromley.wordpress.com">blog</a>
            to see how I got here. In short, I used to work for other people, now I've decided to work for myself, and I have a
            strong desire to help others work as fulfillingly as possible. Ergle is both a product that makes communicating
            about work easier and a company that I hope will embody the principle of profitable fulfilling work.
            My background is technical; I was a software architect for Thomson Reuters in my last job. I have a BSc in Psychology
            and an MSc in Computer Science.
        </p>
        <p>
        Is business stuck in a dark age of alchemists, visionaries and charlatans? There is a burgeoning body of
            literature and research on how to get great results without relying on hunches and management "styles", but
            <i>evidence</i> and <i>reason</i>.
        </p>

        <hr>

        <img class="right" src="@routes.Assets.at("images/katew.jpg")">
        <p>
            I am <a target="_blank" id="katew" href="http://www.linkedin.com/in/katewoodroffe">Kate Woodroffe</a>. I mainly work (like a dog) for my two two-year-old
            twin children who keep me somewhere just beyond busy. When I do have spare time, I help James out with ergle.com: marketing the site, canvassing
            support, networking and generally acting as a go-to person for him to bounce ideas off. Having worked in a technical IT role for 13 years prior
            to having children, almost exclusively in project-based work, I really value the possibilities of what ergle.com can provide and am excited to
            watch its development. I have an MEng in Mechanical Engineering with French and I also <a target="_blank" href="http://hoveringclosetoinsanity.com/">blog</a>
            ,
            although my blog has absolutely nothing to do with ergle.com.
        </p>
    </div>
</div>
