<section id="oneplace-section">
    <h2>One place</h2>
    <div class="text">
        <p>
            <em>You use lots of systems.</em> That's great: they all do different things.
        </p>
    </div>

    <div class="text right">
        <p>
        Ergle is <em>one place</em> that reflects the work you do everywhere
        </p>

        <ul>
            <li>to share it automatically and securely</li>
            <li>with just one place to look</li>
        </ul>
    </div>
    <div style="clear : both"></div>
    <div id="tree">&nbsp;</div>

    <button>Take me there!</button>

</section>



<section id="bottleneck-section">
    <h2>Are you the bottleneck?</h2>

    <div class="text" id="bottle">&nbsp;</div>
    <div class="text right">
        <p>
            <em>Email and file systems are dead-ends for operational information.</em></p>
        <p>
                Email drops into your inbox like a rock down a well. So:
        </p>
        <ol>
            <li>no one else can act and</li>
            <li>you have to</li>
        </ol>

    </div>

    <div style="clear : both"></div>

    <p class="text">
        <em>Hard drives are the same.</em> You manually share each
        file. Shared file systems and intranets are no better: who knows where to find
        anything without asking?
    </p>
    <p class="text right"><em>People search by emailing someone</em> - back to where we started.
    </p>
    <div style="clear : both"></div>

    <button>Uncork me!</button>
</section>


<section id="free-yourself">
    <h2>Free your mind</h2>

    <p class="text brain1">
            Take what you know about what to share with whom and give it to a system that does all the sharing for you.
    </p>
    <div class="text right" id="brain1"><p class="caption">Fig 1. Before: a brain engaged in &#34;bit-shuffling&#34;,
        using its knowledge about what to share with whom.</p>
    </div>

    <div style="clear : both"></div>


    <div class="text" id="brain2"><p class="caption">Fig 2. After: a brain freed from &#34;bit-shuffling&#34;. The
        knowledge about what to share with whom has been given to Ergle.</p>
    </div>
    <p class="text right brain2">
        The system monitors emails, local and shared files, web, mobile
        and your own systems to update the event stream - applying sharing and visibility settings that you've defined.
    </p>


    <div style="clear : both"></div>

    <p class="text brain3">
        Other people can be notified when something is shared or just have it available to browse when they want. They
        can <em>find</em> without having to ask you.
    </p>
    <div class="text right" id="brain3"><p class="caption">Fig 3. Other brains admire and envy the freed brain.</p></div>


    <div style="clear : both"></div>


    <button>I want this!</button>

</section>


<section id="addendum">
    <h2>Collect Browse Find</h2>

    <p class="text">
        <em>A great underdoing.</em> Ergle isn't a project management app; it isn't a file sharing app or a messaging
        app. It is all the things they have in common. But NOT everything each does on its own. It's for sharing what
        is happening in all those apps you use for their advanced specific functions. And sending a message, sharing a
        file and looking at project progress when you don't need those advanced functions.
    </p>
    <p class="text right" >
        You can see the status of projects, access shared files and send
        messages, because completing a piece of work (by e.g. creating a document), adding a file to dropbox or google
        drive and letting everyone in your team know the contents of your conversation with the client are all
        <em>events</em> that happen in your work life, which you can share with others.
    </p>
    <div style="clear : both"></div>
    <p class="text" ><em>Ergle is a repository of events in your work life.</em> Each event contains the data necessary
        to access the object it relates to (e.g. message, file, whatever) so you can see the details of what&#39;s
        happening direct from your, your colleague's or your project's timeline. Comment on all events; make them visible to
        the rest of your company (without, for example, sending everyone in your company an FYI email) or the client
        themselves.
    </p>
    <p class="text right" >
        <em>Ergle Apps</em> will allow you to see recorded event data in a load of ways. Want to see what happened in
        the form of a calender along with events scheduled for the future? The Ergle calendar app. What about generating
        timesheets automatically from the record of all the things you did this week? Ergle timesheet app. Develop your
        own apps available just to your company, e.g. report on how client interactions across the whole company correlate
        with invoices submitted.
    </p>
    <p class="text" ><em>Ergle is Open.</em> You need only have access to an email account something was shared to. No
        registration required. Just click the link and see the content. And Ergle will never market to emails used just
        for sharing content - so you'll never be signing someone up to spam by sharing something with them in Ergle.
    </p>
    <p class="text right" >
        <em>Ergle is secure.</em> Best practice encryption, security and authentication mean you can trust Ergle to
        share what you want to share and keep private what you don't.
    </p>

    <div style="clear : both"></div>

    <p class="text body nofloat" >
        <em>Ergle is the substrate for a new way of working.</em> Everything everyone does will be tagged with who
        did it, when it happened and what it related to (i.e. #tagged). Each event can be visible only to its originator,
        or whomever she chooses. Brought to the attention of others or not. Accessible regardless of location.
        Browsed. Commented on. Reported.
    </p>



    <button>Sign me up!</button>
</section>