<section id="oneplace-section">
    <h2>One place</h2>
    <div class="text">
        <p>
            <em>You use lots of systems.</em> That's great: they all do different things.
        </p>
    </div>

    <div class="text right">
        <p>
        Ergle is <em>one place</em> that reflects the work you do everywhere,
        </p>

        <ul>
            <li>to share it automatically and securely,</li>
            <li>with just one place to look.</li>
        </ul>
    </div>
    <div style="clear : both"></div>

</section>



<section id="bottleneck-section">
    <h2>Are you the bottleneck?</h2>

    <div class="text" id="bottle">&nbsp;</div>
    <div class="text right">
            <p>
                <em>Email and file systems are dead-ends for operational information.</em></p>
            <p>
                Email hits your inbox like a rock down a well. So:
            </p>
            <ol>
                <li>no one else can act and</li>
                <li>you have to.</li>
            </ol>

        </div>

    <div style="clear : both"></div>

    <p class="text">
        <em>Hard drives are the same.</em> You manually share each
        file. Shared file systems and intranets are no better: who knows where to find
        anything without asking?
    </p>
    <p class="text right"><em>People search by emailing someone</em> - back to where we started.
    </p>
    <div style="clear : both"></div>
</section>