<h1>The future of work</h1>

<p><span class="p-title-1">The house analogy: </span>Imagine building a house. Anyone passing by can see
    you are building a house, how far you have got and whether you are doing a good job.
</p>
<p>If you are working in the digital realm none of this is true. It's like each of us goes down a
    hole to work each day.</p>
<p>Ergle will change that, making the invisible visible and <i>doing</i> into <i>saying</i>.</p>

<p><span class="p-title-2">More specifically: </span>Let everyone in your team know what you are doing and
    find out what they are doing, without the burden of emailing and uploading. Show activity from all your channels
    in one place.</p>

<p><span class="p-title-3">How: </span>Integrate with all your work software to show a timeline of all that happens in
    your work life, allowing you to share entries with anyone and choose who can see them on your timeline.</p>
