<section id="oneplace-section">
    <h2>One place</h2>
    <div class="text">
        <p>
            <em>You use lots of systems.</em> That's great: they all do different things.
        </p>
    </div>

    <div class="text right">
        <p>
        Ergle is <em>one place</em> that reflects the work you do everywhere
        </p>

        <ul>
            <li>to share it automatically and securely</li>
            <li>with just one place to look.</li>
        </ul>
    </div>
    <div style="clear : both"></div>
    <div id="tree">&nbsp;</div>

</section>



<section id="bottleneck-section">
    <h2>Are you the bottleneck?</h2>

    <div class="text" id="bottle">&nbsp;</div>
    <div class="text right">
        <p>
            <em>Email and file systems are dead-ends for operational information.</em></p>
        <p>
                Email drops into your inbox like a rock down a well. So:
        </p>
        <ol>
            <li>no one else can act and</li>
            <li>you have to.</li>
        </ol>

    </div>

    <div style="clear : both"></div>

    <p class="text">
        <em>Hard drives are the same.</em> You manually share each
        file. Shared file systems and intranets are no better: who knows where to find
        anything without asking?
    </p>
    <p class="text right"><em>People search by emailing someone</em> - back to where we started.
    </p>
    <div style="clear : both"></div>
</section>


<section id="free-yourself">
    <h2>Free yourself</h2>

    <p class="text brain1">
            Take what you know about what to share with whom and give it to a system that does all the sharing for you.
    </p>
    <div class="text right" id="brain1"><p class="caption">Fig 1: A brain engaged in &#34;bit-shuffling&#34;</p></div>

    <div style="clear : both"></div>


    <div class="text" id="brain2"><p class="caption">Fig 2: A brain freed from &#34;bit-shuffling&#34;</p></div>
    <p class="text right brain2">
        The system monitors emails, local and shared file, web, mobile
        and your own systems to update the events stream - applying sharing and visibility settings that you've defined.
    </p>


    <div style="clear : both"></div>

    <p class="text brain3">
        Other people can be notified when something is shared or just have it available to browse when they want.
    </p>
    <div class="text right" id="brain3"><p class="caption">Fig 3: Other brains admire and envy the freed brain</p></div>


    <div style="clear : both"></div>

</section>