<form method="POST" action="@routes.RegistrationController.register">
    <input title="to receive news and act as a prototype customer please enter your email address and click sign up"
    name="email" type="email" placeholder="email address" class="emailField"> <input class="submit" type="submit" value="sign me up!">
    <textarea class="messageField" name="message"
    placeholder="(optional - max 2000 char) Tell us about your interest in Ergle. Do you want to be an investor, customer, or employee? What business sector are you interested in?"></textarea>
</form>